@{
    ViewBag.Title = "Adicionar";
}
<head>
    <script src="~/Scripts/Pessoa/validarPessoa.js"></script>
    <script src="~/Scripts/Pessoa/adicionarPessoa.js"></script>
    <script src="~/Scripts/messages_pt_BR.js"></script>
</head>
<title>@ViewBag.Title</title>

<div class="container col-md-10 mt-5" id="adicionarPessoa">
    <form method="POST" id="validarFormulario">

        <div class="card mt-1">
            <h5 class="card-header">Tipo Pessoa</h5>
            <div class="container mt-2" id="tabTipoPessoa">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="txtTipo">Tipo:</label>
                        <select id="txtTipoPessoa" name="txtTipoPessoa" class="form-control">
                            <option></option>                            
                            <option value="1">Cliente</option>
                            <option value="2">Fornecedor</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-2">
            <h5 class="card-header">Dados Pessoais</h5>
            <div class="container mt-2" id="tabPessoa">
                <div class="form-row">

                    <div class="form-group col-md-3">
                        <label for="txtNome">Nome</label>
                        <input type="text" id="txtNome" name="nome" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtSobrenome">Sobrenome</label>
                        <input type="text" id="txtSobrenome" name="sobrenome" class="form-control">
                    </div>

                </div>
            </div>
        </div>

        <div class="card mt-2">
            <h5 class="card-header">Endereço</h5>
            <div class="container mt-2" id="tabEndereco">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="txtTipoEndereco">Tipo</label>
                        <input type="text" id="txtTipoEndereco" name="tipoEndereco" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtLogradouro">Logradouro</label>
                        <input type="text" id="txtLogradouro" name="logradouro" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtNumeroEndereco">Número</label>
                        <input type="text" id="txtNumeroEndereco" name="numeroEndereco" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="txtBairro">Bairro</label>
                        <input type="text" id="txtBairro" name="bairro" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtCEP">CEP</label>
                        <input type="text" id="txtCEP" maxlength="8" name="cep" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCidade">Cidade</label>
                        <input type="text" id="txtCidade" name="cidade" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtUF">UF</label>
                        <select id="txtUF" name="uf" class="form-control">
                            <option></option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-2">
            <h5 class="card-header">Documentos</h5>
            <div class="container mt-2" id="tabDocumento">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtTipoDocumento">Tipo</label>
                        <select id="txtTipoDocumento" class="form-control">
                            <option></option>
                            <option value="CPF">CPF</option>                            
                            <option value="CNPJ">CNPJ</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="txtNumeroDocumento">Número</label>
                        <input type="text" id="txtNumeroDocumento" name="numeroDocumento" class="form-control">
                    </div>
                    <div class="col-md-7 ml">
                        <label for="#">&nbsp;</label>
                        <div>
                            <a href="javascript:adicionarDocumento();">
                                <i class="btn-lg fa fa-plus"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="table-responsive-md">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-2">Tipo</th>
                                <th scope="col" class="col-3">Número</th>
                                <th scope="col" class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody id="tabelaDocumento" name="tabelaDocumento">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="card mt-2">
            <h5 class="card-header">Telefone</h5>
            <div class="container mt-2 " id="tabTelefone">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="txtTipoTelefone">Tipo</label>
                        <select id="txtTipoTelefone" class="form-control">
                            <option></option>
                            <option value="residencial">Residencial</option>
                            <option value="celular">Celular</option>
                            <option value="comercial">Comercial</option>

                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="txtDDD">DDD</label>
                        <input type="text" id="txtDDD" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtNumeroTelefone">Número</label>
                        <input type="text" id="txtNumeroTelefone" class="form-control">
                    </div>
                    <div class="col-md-5 ml">
                        <label for="#">&nbsp;</label>
                        <div>
                            <a href="javascript:adicionarTelefone();">
                                <i class="btn-lg fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-2">Tipo</th>
                                <th scope="col" class="col-2">DDD</th>
                                <th scope="col" class="col-3">Número</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody id="tabelaTelefone">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" mt-5 mb-5 text-center">
            <button class="btn btn-success mr-3" id="btnSalvar" onclick="return validarPessoa();">Salvar</button>
            <a href="@Url.Action("Index","Pessoa")" class="btn btn-danger">Voltar</a>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
}

