@{
    ViewBag.Title = "Pessoa";
}
<head>
    <script src="~/Scripts/Pessoa/index.js"></script>
    <title>@ViewBag.Title</title>
</head>
<h1>Lista de Pessoas</h1>

<div>
    <a class="btn btn-info mb-3" href="@Url.Action("Adicionar","Pessoa")">Adicionar Pessoa</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover" id="tabelaPessoa">
        <thead>
            <tr>                
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</div>